extends layout

block content
	.container
		h1 Applicants
		ul#applications.list-unstyled
			for applicant in data
				.app-section
					ul
						li 
							span.app-field Name: 
							span #{applicant.name}
						li 
							span.app-field Bio: 
							span #{applicant.bio}
						li 
							span.app-field Skills: 
							span #{applicant.skills}
						li 
							span.app-field Years of experience: 
							span #{applicant.years}
						li 
							span.app-field Why work here? #{applicant.why}
						//- li(hidden=true) #{applicant._id}
						form(method='post' action='/delete')
							input(type='text' name='_id' value="#{applicant._id}" hidden=true)
							input(type='submit' value="Delete")

